<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= link_to 'Show', post, class: "show_#posts{id}" %></td>
      <td><%= link_to 'Edit', edit_post_path(post), class: "edit_#posts{id}" %></td>
      <td><%= link_to 'Destroy', post_path(post), class: "destroy_#posts{id}",
                method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h1>New book</h1>
<!-- form_for部分 -->
<%= form_for(@post) do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title, class: "book_title" %>

    <h4>Body</h4>
    <%= f.text_area :body, class: "book_body" %>

    <%= f.submit 'Create Book' %>

<% end %>